# Dataset & Large Archives (exceeds GitHub file size limits)
*.zip
*.tsv
student_resource.zip
dataset/
student_resource/student_resource/dataset/

# Python, OS & Mac junk
__pycache__/
*.pyc
.DS_Store
__MACOSX/
student_resource/__MACOSX/
scratch/
.system_generated/
.idea/
.vscode/

student_resource/
v5_25k_fixed.log
v5_50k.log
v5_retrieval.log
v5_train.log
v6_fast.log
v7_run.log



